html {
    font-family: "Verdana";
    text-align: center;
    color: black;
    background-color: white;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
}

/* Header */

header .content {
    display: flex;
    height: 64px;
    align-items: center;
}

header .desktop {
    display: flex;
    height: 32px;
    flex: 1;
    align-items: center;
}

header .logo {
    display: flex;
    height: 32px;
    flex: 1;
    padding-left: 24px;
    align-items: center;
}   

header ul {
    display: flex;
    list-style-type: none;
    padding-right: 24px;
}

header li {
    padding-left: 16px;
}

header a {
    text-decoration: none;
    color: black;
}

header .mobile {
    display: none;
  }

  @media only screen and (max-width: 612px) {
    header .desktop {
      display: none;
    }
  
    header .mobile {
      display: block;
      width: 100%;
      height: 64px;
      align-content: center;
      justify-content: center;
    }

    header .mobile ul {
        width: 100%;
        height: 100%;
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0;
        margin: 0;

    }
    
    header .mobile li {
        padding: 0;
    }
  }

/* Learning Section */

#learning {
    display: flex;
    align-items: center;
    background-color: lightgray;
}

#learning .image-container {
    display: flex;
    max-width: 60%;
    flex: 1;
    align-items: center;
    overflow: hidden;
}

#learning .image-container img {
    width: 94%;
    object-fit: cover;
    padding: 32px 24px;
}       

#learning .text {
    display: flex;
    max-width: 25%;
    flex: 1;
    flex-direction: column;
    padding: 0 100px 0 24px;
    text-align: left;
    flex-wrap: wrap;
}

#learning .text .button {
    color: white;
    background-color: rgb(63, 63, 63);
    padding: 16px 16px;
    text-align: center;
    text-decoration: none;
    margin: 20px 0;
}

@media only screen and (max-width: 612px) {
    #learning {
        display: flex;
        width: 100%;
        height: auto;
        flex-direction: column;
        align-items: center;
        background-color: lightgray;
    }

    #learning .image-container {
        display: block;
        max-width: 100%;
        height: auto;
        align-items: center;
        padding: 0;
    }

    #learning .image-container img {
        width: 100%;
        height: auto;
        padding: 0;
    }

    #learning .text {
        display: block;
        max-width: 100%;
        height: auto;
        padding: 0;
        text-align: left;
        margin: 32px 16px;
    }

    #learning h1 {
        margin: 0;
    }

    #learning h3 {
        margin: 0;
        padding-top: 32px;
        padding-bottom: 24px;
    }

    #learning .text .button {
        display: block;
        width: 92%;
        margin: 0 auto;
        padding: 16px auto;
        line-height: 1.4;
    }
}

/* Practicing Section */

#practicing {
    display: flex;
    align-items: center;
}

#practicing .left-section {
    display: flex;
    max-width: 60%;
    flex: 1;
    align-items: center;
    padding: 32px 24px;
    flex-direction: column;
    text-align: left;
    border-right: solid 1px lightgray;
}

#practicing .left-section .image-container {
    overflow: hidden;
}

#practicing .left-section img {
    width: 100%;
    object-fit: cover;
}

#practicing .left-section h2 {
    margin: 32px 0 24px 0;
}

#practicing .left-section p {
    margin: 32px 0 0 0;
    font-weight: lighter;
    font-size: 14px;
}

#practicing .right-section {
    display: flex;
    max-width: 40%;
    flex: 1;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
}

#practicing .right-section .orientation {
    width: 100%;
    display: flex;
    flex: 1;
    align-items: center;
    border-bottom: 1px solid lightgray;
    margin-bottom: 1px;
}

#practicing .right-section .campus {
    width: 100%;
    display: flex;
    flex: 1;
    align-items: center;
    border-top: 1px solid lightgray;
    margin-top: 1px;
}

#practicing .right-section .guest-lecture {
    width: 100%;
    display: flex;
    flex: 1;
    align-items: center;
    background-color: lightgray;
}

#practicing .right-section .image-container {
    display: flex;
    flex: 1;
    max-width: 35%;
    overflow: hidden;
    padding: 16px;
}

#practicing .right-section img {
    width: 100%;
    object-fit: cover;
}

#practicing .right-section text {
    max-width: 65%;
    display: flex;
    flex: 1;
    flex-direction: column;
    text-align: left;
}

#practicing .right-section h3 {
    margin: 0;
}

#practicing .left-section h4 {
    color: gray;
    font-weight: 100;
}

#practicing .right-section h4 {
    color: gray;
    font-weight: 100;
    margin: 8px 0;
}

#practicing .right-section a {
    text-decoration: none;
}

#practicing .left-section p {
    font-weight: 600;
}

@media only screen and (max-width: 612px) {
    #practicing {
        display: flex;
        width: 100%;
        height: auto;
        flex-direction: column;
        align-items: center;
    }

    #practicing .left-section {
        display: none;
    }

    #practicing .right-section {
        display: block;
        max-width: 100%;
        height: auto;
        padding: 0;
        text-align: left;
        margin: 16px 16px 32px 16px;
    }

    #practicing .right-section .orientation {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }

    #practicing .right-section .campus {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }

    #practicing .right-section .guest-lecture {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        background-color: white;
    }

    #practicing .right-section .image-container {
        display: flex;
        max-width: 100%;
        flex: 1;
        overflow: hidden;
    }

    #practicing h1 {
        margin: 0;
    }

    #practicing h3 {
        margin: 0;
    }
}

/* Courses Section */

#courses {
    align-items: center;
    background-color: lightgray;
    align-items: center;
    align-content: center;
}

#courses h2 {
    text-align: center;
    padding: 32px 0;
    margin: 0;
}

#courses .center-box {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    gap: 32px;
    margin: 0 72px 32px 72px;
    justify-content: center;
    flex-wrap: wrap;
}

#courses .center {
    display: flex;
    flex: 1;
    align-items: center;
    flex-direction: column;
    background-color: white;
}

#courses .center .image-container {
    overflow: hidden;
}

#courses .center img {
    width: 100%;
    object-fit: cover;
}

#courses .center .content {
    margin: 16px;
    text-align: left;
}

#courses .center .content h3 {
    margin: 0;
}

#courses .center .content h4 {
    color: gray;
    font-weight: 100;
    margin: 8px 0;
}

#courses .center .content h5 {
    color: gray;
    font-weight: 100;
    margin: 0;
}

/* Thesis Section */

#thesis {
    align-items: center;
}

#thesis h2 {
    text-align: center;
    padding: 32px 0;
    margin: 0;
}

#thesis .thesis-box {
    display: flex;
    flex: 1;
    align-items: flex-start;
}

#thesis .left-section {
    display: flex;
    max-width: 60%;
    flex: 1;
    align-items: center;
    padding: 0  24px 32px 24px;
    flex-direction: column;
    text-align: left;
}

#thesis .left-section .image-container {
    overflow: hidden;
}

#thesis .left-section video {
    width: 100%;
    object-fit: cover;
}

#thesis .left-section h3 {
    padding: 24px 0 8px 0;
    margin: 0;
}

#thesis .left-section h5 {
    color: gray;
    font-weight: 100;
    margin: 0;
}

#thesis .right-section {
    display: flex;
    max-width: 40%;
    flex: 1;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
}

#thesis .right-section .fisma {
    width: 100%;
    height: auto;
    display: flex;
    flex: 1;
    align-items: center;
    border-bottom: 1px solid lightgray;
    margin-bottom: 1px;
    background-color: lightgray;
}

#thesis .right-section .now-and-then {
    width: 100%;
    display: flex;
    flex: 1;
    align-items: center;
    border-top: 1px solid lightgray;
    margin-top: 1px;
}

#thesis .right-section .image-container {
    display: flex;
    flex: 1;
    max-width: 35%;
    overflow: hidden;
    padding: 16px;
}

#thesis .right-section img {
    width: 100%;
    object-fit: cover;
}

#thesis .right-section text {
    display: flex;
    flex: 1;
    max-width: 65%;
    flex-direction: column;
    text-align: left;
}

#thesis .right-section h5 {
    color: gray;
    font-weight: 100;
}

/* Footer */

footer {
    display: flex;
    padding: 24px 16px;
    border-top: 1px solid lightgray;
    align-content: center;
    align-items: center;
    justify-content: center;
}

footer p {
    color: gray;
    margin: 0;
}

footer div {
    display: flex;
    flex: 1;
    justify-content: center;
}

footer .copyright {
    display: flex;
    flex: 1;
    justify-content: flex-start;
}

footer .terms {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

footer .terms a {
    color: gray;
    padding-left: 15px;
    text-decoration: none;
}